@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
header {
  padding: 2rem;
  margin: 3rem 2rem;
}
header section {
  display: flex;
  justify-content: space-between;
}
header .inicio {
  width: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: end;
  gap: 3rem;
}

main {
  font-family: "Raleway", sans-serif;
}
main .cuerpo1 {
  margin: 4rem 4rem;
  display: flex;
  height: 30rem;
  color: #07043B;
}
main .cuerpo1 .titulo1 {
  flex: 1;
}
main .cuerpo1 .titulo1 h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  line-height: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
main .cuerpo1 .titulo1 p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  padding-bottom: 12px;
}
main .cuerpo1 .titulo1 input {
  margin: 13px 13px;
  margin-left: 0px;
  padding: 12px 50px;
  padding-left: 15px;
  text-align: left;
}
main .cuerpo1 .titulo1 .boton-azul {
  padding: 14px 60px;
  background-color: #2F65F8;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
main .titulo1-icon {
  flex: 1;
}
main .titulo1-icon svg {
  width: 100%;
  height: 100%;
}
main .cuerpo2 {
  padding: 6rem 4rem;
  margin-bottom: 0;
  display: flex;
  height: 40rem;
  background-color: #F8F8FE;
  color: #07043B;
}
main .cuerpo2 .titulo2 {
  flex: 1;
}
main .cuerpo2 .titulo2 h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  line-height: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
main .cuerpo2 .titulo2 p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
main .cuerpo2 .titulo2 a {
  color: #3DA08F;
  font-size: 17px;
  margin-bottom: 2rem;
}
main .cuerpo2 .titulo2 .see-icon {
  height: 20px;
}
main .cuerpo2 .titulo2-mensaje {
  border-color: #07043B;
  border-width: 10px;
  background-color: #FFFFFF;
  padding: 35px;
  width: 22rem;
  line-height: 2rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  margin-top: 2.5rem;
  font-size: 17px;
  box-shadow: 0px 0px 22px -5px #000000;
  display: flex;
  flex-direction: column;
}
main .cuerpo2 .titulo2-mensaje svg {
  font-size: 45px;
}
main .cuerpo2 .titulo2-mensaje p {
  font-family: "Open Sans", sans-serif;
  margin: 5px;
  padding: 10px 20px;
  width: 100%;
  padding-left: 0px;
}
main .cuerpo2 .titulo2-mensaje .caja-avatar .avatar {
  display: flex;
}
main .cuerpo2 .titulo2-mensaje .caja-avatar .avatar img {
  border-radius: 60px;
  width: 50px;
  height: 50px;
}
main .cuerpo2 .titulo2-mensaje .caja-avatar .icon-mensaje {
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1rem;
}
main .cuerpo2 .titulo2-mensaje .caja-avatar .icon-mensaje h3 {
  margin: 0px;
  font-size: 19px;
}
main .cuerpo2 .titulo2-mensaje .caja-avatar .icon-mensaje p {
  margin: 0px;
  font-size: 14px;
}
main .cuerpo2 .titulo2-icon {
  flex: 1;
}
main .cuerpo2 .titulo2-icon svg {
  width: 100%;
  height: 100%;
}
main .cuerpo3 {
  padding: 4rem 4rem;
  display: flex;
  background-color: #575988;
  color: #FFFFFF;
}
main .cuerpo3 .cuerpo3-texto {
  flex: 1;
}
main .cuerpo3 .cuerpo3-texto h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  line-height: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
main .cuerpo3 .cuerpo3-texto p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
main .cuerpo3 .cuerpo3-acceso {
  flex: 1;
}
main .cuerpo3 .cuerpo3-acceso input {
  margin: 13px 13px;
  margin-left: 0px;
  padding: 12px 50px;
  padding-left: 15px;
  text-align: left;
}
main .cuerpo3 .cuerpo3-acceso .boton-azul2 {
  padding: 14px 60px;
  background-color: #2F65F8;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

footer {
  padding: 4rem 4rem;
  background-color: #07043B;
}
footer .listas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
}
footer .listas li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
footer .listas .listas1 {
  line-height: 2.5rem;
}
footer .listas .listas2 {
  line-height: 2.5rem;
}
footer .listas .listas3 {
  line-height: 2.5rem;
}
footer .listas .listas4 {
  line-height: 2.5rem;
}/*# sourceMappingURL=diseño.css.map */